/* CREDITS TO THE FOLLOWING TUTORIALS :

    https://helpx.adobe.com/dreamweaver/how-to/responsive-web-design-basics.html?playlist=/services/playlist.helpx/products:SG_DREAMWEAVER_1_1/learn-path:key-techniques/playlist:topic/set-header:make-a-website/en_us.json

*/


@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


/* ZEROING CODE -- ensures consistency across browsers */ 

html, html * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Karla', 'Helvetica Neue',  'Helvetica', 'Arial', sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 6vh;
    margin-bottom: 4vh;

}

h2 {
    font-weight: 400;
    font-size: 2.5vh;
    margin-bottom: 4vh;
  
}

h4 {
    font-weight: 700;
    font-size: 1.5vh;
    color: #FF0A0A;
}

p {
    font-weight: 400;
    font-size: 2vh;
    margin-bottom: 4vh;
}

.button {
    border: 5px #FF0A0A solid;
    background-color: #FF0A0A;
    color: white;
    /* padding: 8px 30px; */
    padding: .5vh 2vh;
    
    border-radius: 5px;
    text-decoration:none;
    

    /* margin: 2vh; */

}



.desk-only {
    /* hides the images on mobile version */
    display: none;
} 

.gray-section {
    background-color: #FCFCFC;
}


/* NAVIGATION BAR */

header {
    font-size: 20px;
    padding: 5vh;
}



/* - mobile version */
.style-logo {
    /* center the logo */
    margin-left: auto;
    margin-right: auto;
    display: block;

}


.style-nav ul {
    list-style-type: none;

}

.style-nav ul li a {
    text-decoration: none;
    color: black;
    text-align: center;
    display: block;
    padding: 10px;
    font-weight: 500;
}

/* -- this helps set up the grid view */
.row:before, .row:after {
    content: "";
    display: table;
}

.row:after {
    clear: both;
}

/* -- for the top banner */
.top-banner {
    background-color: white;
    background-size: cover;
    /* padding: top right bottom left */ 
    /* padding: 20px 30px 50px 30px; */
    padding: 2vh 3vh 5vh 3vh;
    /* figure out how to decrease line height on mobile*/ 

    text-align: center;
}

.countdown-box {
    color: black;
    /* padding: 30px 20px 60px; */
    /* padding: 3vh 3vh 6vh 3vh; */

    padding: 5vh 3vh 5vh 3vh;
    text-align: center;

}




/* - tablet version */
/* break point; only add anything that's new or that is overriding the previous verison */
@media (min-width: 768px) { 
    
    .style-nav ul li {
        /* show in one line rather than stacked */ 
        display: inline-block 
    }

    .style-nav ul {
        text-align: center;
    }

}

/* - desktop version */

@media (min-width: 1024px) {

    .style-logo {
        /* moves the image to the left */
        float: left;
    }

    .style-nav {
        float: right;
        font-size: 20px;
    }

    .vertical-center {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header {
        padding-left: 10vh;
        padding-right: 10vh;
    }

    .desk-only {
        display:block;
    }

}